/* @import "../../styles/globals.css"; */

.signUpMain {
    background: var(--background);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.formOutDiv {
    background-color: var(--foreground);
    color: var(--text);
    padding: 40px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: var(--shadow);
}

.from {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.formHeading {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    font-family: var(--heading-font);
}


.inputOut {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    background-color: none;
    border: 1px solid var(--background);
    color: var(--text);
    min-width: 240px;
    width: 100% !important;
    outline: none;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-family: var(--paragraph-font);
}

.placeholder {
    font-size: 12px;
    font-family: var(--paragraph-font);
}

.formBtn {
    background: var(--button);
    box-shadow: var(--shadow);
    width: 100%;
    padding: 10px 16px;
    border-radius: 6px;
    color: var(--foreground);
    font-size: 16px;
    font-weight: 600;
    font-family: var( --button-font);
}

.googleBtn {
    margin-top: 14px;
    background: var(--text);
    width: 100%;
    padding: 10px 16px;
    border-radius: 6px;
    color: var(--foreground);
    font-size: 16px;
    font-weight: 600;
    font-family: var( --button-font);
}

.loginPra {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-family: var( --button-font);
}

.forgot {
    display: flex;
    align-items: center;
    margin-top: -14px;
    margin-bottom: 14px;
    width: 100%;
    color: var(--button);
    font-size: 14px;
    font-family: var( --button-font);
}

.checkBoxDiv {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    width: 100%;
}

.checkInput {
    height: 20px;
    width: 20px;
}

.checkText {
    color: var(--text);
    margin-left: 6px;
    font-size: 14px;
    font-family: var( --button-font);
}