.chatMain {
    display: grid;
    place-items: center;
}

.chatIn {
    width: 100%;
    max-width: 1600px;
}

.chatOut {
    display: flex;
    width: 100% !important;
    min-height: calc(100vh - 100px);
    border: 1px solid var(--border);
}


/* chat side CSS */


.msgOut {
    width: calc(100% - 200px);
    position: relative;
}


.msgAiDiv {
    display: flex;
    padding: 4px 0px;
    width: 100%;
}

.msgAiScroll {
    max-height: calc(100vh - 148px);
    padding-bottom: 50px;
    margin-top: 40px;
    overflow-y: scroll;
}

.userMsg {
    background-color: var(--graphThree);
    padding: 8px 12px;
    line-height: 18px;
    border-radius: 10px;
    width: fit-content;
    max-width: calc(100% - 100px);
    margin-left: auto;
    justify-content: flex-end;
    font-size: 12px;
    font-family: var(--paragraph-font);
}

.aiMsg {
    background-color: var(--border);
    padding: 8px 14px;
    border-radius: 10px;
    max-width: calc(100% - 100px);
    width: fit-content;
    margin-right: auto;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--paragraph-font);
}


.inputContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--background);
    width: 100%;
    padding: 4px 10px;
    border-top: 1px solid var(--border);
    font-family: var(--paragraph-font);
}

.inputMessage {
    width: calc(100% - 110px);
    padding: 8px 8px;
    outline: none;
    font-family: var(--paragraph-font);
    border-right: 1px solid var(--border);
}

.sendMessageButton {
    background: var(--button);
    color: var(--foreground);
    width: 100px;
    padding: 8px 0px;
    border-radius: 100px;
    margin-left: 10px;
    font-size: 14px;
    font-family: var(--button-font);
}

.sendMessageButton:hover {
    background: var(--btnHover);
}

.selectChatText {
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--text);
    font-size: 13px;
    font-family: var(--paragraph-font);
}

.chatNav {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: var(--foreground);
    color: var(--text);
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--subtitle-font);
}

.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid var(--border);
}

.profileImagePlaceholder {
    display: inline-block;
    width: 48px;
    visibility: hidden;
}




/* ID side CSS */


.idOut {
    background-color: var(--background);
    border-left: none;
    width: 200px;
    position: relative;
    box-shadow: var(--shadow);
}

.idNav {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: var(--foreground);
    color: var(--text);
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--subtitle-font);

}

.idNameDiv {
    margin-top: 34px;
}


.idName {
    padding: 6px 8px;
    margin: 6px 0px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--subtitle-font);
}

.idName:hover {
    border-right: 3px solid var(--active);

}

.activeIdName {
    border-right: 3px solid var(--active);
}







/* Responsive CSS */

@media (max-width: 749px) {
    .chatOut {
        display: flex;
        width: 100% !important;
        min-height: calc(100vh - 70px);
    }

    .msgOut {
        width: calc(100% - 80px);
        padding: 6px;
        padding-top: 34px;
    }

    .idOut {
        width: 80px;
    }

    .idName {
        padding: 4px 6px;
        margin: 6px 0px;
        font-size: 10px;
        font-weight: 500;


    }

    .userMsg {
        padding: 4px 8px;
        border-radius: 8px;
        width: fit-content;
        max-width: calc(100% - 20px);
        margin-left: auto;
        justify-content: flex-end;
        font-size: 10px;
        line-height: 18px;
        font-family: var(--paragraph-font);
    }

    .aiMsg {
        padding: 4px 8px;
        border-radius: 8px;
        max-width: calc(100% - 20px);
        width: fit-content;
        margin-right: auto;
        justify-content: flex-start;
        font-size: 10px;
        line-height: 18px;
        font-family: var(--paragraph-font);
    }

    .selectChatText {
        height: calc(100% + 20px);
        font-size: 10px;

    }


    .inputContainer {
        padding: 4px 6px;
    }

    .inputMessage {
        width: calc(100% - 66px);
        padding: 0;
        outline: none;
        border-right: none;
        font-size: 10px;
        font-family: var(--paragraph-font);
    }

    .sendMessageButton {
        width: 60px;
        padding: 8px 0px;
        border-radius: 100px;
        margin-left: 6px;
        font-size: 10px;
        font-family: var(--button-font);
    }


}