.sidebar {
    margin-top: 30px;
}


.sidebarLi {
    margin-bottom: 4px;
    display: flex;
    color: var(--text);
    align-items: center;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--subtitle-font);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebarLi:hover {
    background-color: var(--background);
    color: var(--text);
}

.active {
    background-color: var(--background);
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    color: var(--text);
}

.sidebarIcon {
    font-size: 20px;
    margin-right: 10px;
}

.mobileUl {
    display: none;
}

.leptopUl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 30px);
}

.BtnOut {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 14px;
    font-family: var(--button-font);
    cursor: pointer;
}

.logOutIcon {
    font-size: 14px;
    font-family: var(--button-font);
    margin-left: 10px;
}

.logOutBtn {
    display: flex;
    place-items: center;
    justify-content: center;
    background: var(--button);
    width: 100%;
    border-radius: 8px;
    padding: 8px 20px;
    margin-top: 20px !important;
    font-size: 14px;
    font-family: var(--button-font);
    transition: all 0.2s ease-in-out;
    color: var(--foreground);
}

.logOutBtn:hover {
    background: var(--btnHover);
}

.MobBtnOut {
    display: none;
}




/* Media query for smaller screens */
@media (max-width: 699px) {

    .BtnOut {
        display: none;
    }

    .MobBtnOut {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .MoLogOutBtn {
        display: flex;
        place-items: center;
        justify-content: center;
        padding-left: 3px;
        border-radius: 50px;
        height: 32px;
        width: 32px;
        background: var(--button);
        color: var(--foreground);
        font-size: 16px;
        transition: all 0.2s ease-in-out;
    }

    .leptopUl {
        display: none;
    }

    .mobileUl {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 30px);
    }

    .sidebarIcon {
        font-size: 20px;
        margin-right: 0;
    }

    .sidebarLi {
        justify-content: center;
        padding: 10px;
    }

    .sidebarLi:hover {
        background-color: var(--background);
    }
}